@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #140401;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(assets/Header-Background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/Header-Background.jpg);
  background-size: 100%;
  background-position-y: -22rem;
  background-repeat: no-repeat;
  background-position: center;
}

header .Header-cont {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 260px 0.9fr 1.1fr 1.1fr 0.9fr 260px;
      grid-template-columns: 260px 0.9fr 1.1fr 1.1fr 0.9fr 260px;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
  height: 22rem;
  position: relative;
}

header .Header-cont h1 {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: end;
      align-self: end;
  color: #77EB86;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 82px;
  white-space: nowrap;
}

header .Header-cont h1::after {
  content: '...IN PROGRESS';
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1rem;
}

header .Header-cont h4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  color: #77EB86;
  font-family: 'importLato', sans-serif;
  font-weight: 300;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: -15px;
  margin-right: 15px;
}

nav {
  position: relative;
  font-weight: 300;
  width: 100%;
  height: 80px;
  background-color: #000000;
}

nav .main_btns {
  padding-left: 260px;
  padding-top: 25px;
}

nav img {
  -webkit-filter: invert(90%) sepia(6%) saturate(3467%) hue-rotate(64deg) brightness(96%) contrast(91%);
          filter: invert(90%) sepia(6%) saturate(3467%) hue-rotate(64deg) brightness(96%) contrast(91%);
  margin-right: 5px;
}

nav a {
  position: relative;
  margin-top: -5px;
  text-decoration: none;
  color: #77EB86;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  margin-right: 40px;
}

nav .active_pg::after {
  content: '';
  position: absolute;
  background-color: #77EB86;
  height: 7px;
  width: 145%;
  bottom: -25px;
  left: -26px;
}

nav .search_btn {
  position: absolute;
  padding: 0;
  right: 260px;
  top: 25px;
}

nav .search_btn button {
  font-family: 'Lato', sans-serif;
  background: none;
  border: none;
  font-size: 22px;
  color: #77EB86;
}

main .card {
  padding-left: 260px;
  padding-top: 108px;
  padding-right: 40%;
  color: #77EB86;
  font-family: lato;
}

main .card .mini-headr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 26px;
  position: relative;
}

main .card .mini-headr::after {
  content: '';
  position: absolute;
  height: 2px;
  min-width: 14rem;
  bottom: 0;
  background-color: #77EB86;
}

main .card h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  font-weight: 300;
  font-size: 50px;
  white-space: nowrap;
}

main .card h2::after {
  content: 'MY FIRST POST';
  position: absolute;
  z-index: 0;
  font-size: 102px;
  font-weight: 600;
  bottom: -13px;
  left: -7px;
  color: rgba(119, 235, 134, 0.1);
}

main .card p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 22px;
}

main .card hr.clr {
  border-top: 2px solid #77EB86;
}

main .card button {
  border-radius: 20px;
  width: 152px;
  height: 60px;
  border: 2px solid #77EB86;
  background: none;
  color: #77EB86;
}

footer {
  width: 100%;
  background-color: black;
  height: 120px;
  margin-top: 108px;
}

footer .refs {
  font-family: 'Lato', sans-serif;
  color: #77EB86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=main.css.map */